<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!--Compiled and minified Materialize CSS--}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    {{!--Compiled and minified Materialize JS--}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    {{!--Stylesheet--}}
	<link rel="stylesheet" href="/assets/css/scraperStyle.css" type="text/css" />
    
    <title>News Scraper</title>
</head>
<body>
    {{{ body }}}
</body>
</html>